/* TRANSFORM */
.tr-0 { transform: rotate(0deg); }
.tr-180 { transform: rotate(180deg); }
.tty--84 { transform: translateY(-84px); }
/* ANIMATIONS */
.a1 {
  -webkit-transition: transform 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out;
}
.a2 {
  -webkit-transition: transform 0.25s cubic-bezier(.455, .03, .515, .955);
  transition: transform 0.25s cubic-bezier(.455, .03, .515, .955);
}
.a4 {
  -webkit-transition: opacity 0.45s ease-in-out;
  transition: opacity 0.45s ease-in-out;
}
.a5 {
  opacity: 0;
  transform: translateY(3rem);
  pointer-events: none;
  -webkit-transition: opacity 1s cubic-bezier(.455, .03, .515, .955), transform 1s cubic-bezier(.455, .03, .515, .955);
  transition: opacity 1.25s cubic-bezier(.455, .03, .515, .955), transform 0.75s cubic-bezier(.455, .03, .515, .955);
}
.fi { opacity: 1; transform: translateY(0); pointer-events: auto; }
.fo { opacity: 0; transform: translateY(0); pointer-events: none; }
.bottom--84 { bottom: -84px; }
/* SCROLL */
.scrollbar-dn::-webkit-scrollbar { display: none; }
/* HEIGHT */
.h-16x9 { height: 200%; }
/* SPACING */
.mt8 { margin-top: 5rem; }
.mb8 { margin-bottom: 5rem; }
.mv8 { margin-top: 6rem; margin-bottom: 6rem; }
/* LETTER SPACING */
.tracked-uber { letter-spacing: .45em; }
/* DISPLAY */
.dn-i { display: none !important; }
/* UTILITIES */
@media screen and (min-width: 30em) {
  .aspect-ratio--1x1-ns { padding-bottom: 100%; }
  .aspect-ratio--16x9-ns { padding-bottom: 56.25%; }
  .h7-ns { height: 20rem; }
}
@media screen and (min-width: 30em) and (max-width: 60em) {
  .aspect-ratio--1x1-m { padding-bottom: 100%; }
  .aspect-ratio--16x9-m { padding-bottom: 56.25%; }
  .ph8-m { padding-right: 3rem; padding-left: 3rem; }
}
@media screen and (min-width: 60em) {
  .aspect-ratio--1x1-l { padding-bottom: 100%; }
  .aspect-ratio--16x9-l { padding-bottom: 56.25%; }
}
