/* TRANSFORM */
.tr-0 { transform: rotate(0deg); }
.tr-45 { transform: rotate(45deg); }
.tty--84 { transform: translateY(-84px); }
/* ANIMATIONS */
.a1 {
  -webkit-transition: transform 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out;
}
.a2 {
  -webkit-transition: transform 0.25s cubic-bezier(.455, .03, .515, .955);
  transition: transform 0.25s cubic-bezier(.455, .03, .515, .955);
}
.a4 {
  -webkit-transition: opacity 0.45s ease-in-out;
  transition: opacity 0.45s ease-in-out;
}
.a5 {
  opacity: 0;
  transform: translateY(3rem);
  pointer-events: none;
  -webkit-transition: opacity 1s cubic-bezier(.455, .03, .515, .955), transform 1s cubic-bezier(.455, .03, .515, .955);
  transition: opacity 1.25s cubic-bezier(.455, .03, .515, .955), transform 0.75s cubic-bezier(.455, .03, .515, .955);
}
.fi { opacity: 1; transform: translateY(0); pointer-events: auto; }
.fo { opacity: 0; transform: translateY(0); pointer-events: none; }
/* DELAYS */
.delay1 { -webkit-transition-delay: 0.15s; transition-delay: 0.15s; }
.delay2 { -webkit-transition-delay: 0.20s; transition-delay: 0.20s; }
.delay3 { -webkit-transition-delay: 0.25s; transition-delay: 0.25s; }
.delay4 { -webkit-transition-delay: 0.30s; transition-delay: 0.30s; }
.delay5 { -webkit-transition-delay: 0.35s; transition-delay: 0.35s; }
.bottom--84 { bottom: -84px; }
/* SCROLL */
.scrollbar-dn::-webkit-scrollbar { display: none; }
/* HEIGHT */
.h-16x9 { height: 200%; }
/* OPACITY */
.opacity-0 { opacity: 0; }
.opacity-1 { opacity: 1; }
/* SPACING */
.mt82 { margin-top: 82px; }
.mv9 { margin-top: 3rem; margin-bottom: 3rem; }
.mb9 { margin-bottom: 3rem; }
.mt8 { margin-top: 5rem; }
.mb8 { margin-bottom: 5rem; }
.mv8 { margin-top: 6rem; margin-bottom: 6rem; }
.mt10 { margin-top: 10rem; }
.mb10 { margin-bottom: 10rem; }
.mt11 { margin-top: 9rem; }
.mb12 { margin-bottom: 0.5rem; }
.mb15 { margin-bottom: 1.5rem; }
.pv9 { padding-top: 3rem; padding-bottom: 3rem; }
.pr075 { padding-right: 0.75rem; }
.pl075 { padding-left: 0.75rem; }
/* LETTER SPACING */
.tracked-uber { letter-spacing: .45em; }
/* DISPLAY */
.dn-i { display: none !important; }
/* FONT SIZING */
.f8 { font-size: 2rem; }
/* UTILITIES */
@media screen and (min-width: 30em) {
  .aspect-ratio--1x1-ns { padding-bottom: 100%; }
  .aspect-ratio--16x9-ns { padding-bottom: 56.25%; }
  .h7-ns { height: 20rem; }
  .f8-ns { font-size: 2rem; }
  .mv9-ns { margin-top: 3rem; margin-bottom: 3rem; }
  .mb15-ns { margin-bottom: 1.5rem; }
  .pv9-ns { padding-top: 3rem; padding-bottom: 3rem; }
  .pr075-ns { padding-right: 0.75rem; }
  .pl075-ns { padding-left: 0.75rem; }
}
@media screen and (min-width: 30em) and (max-width: 60em) {
  .aspect-ratio--1x1-m { padding-bottom: 100%; }
  .aspect-ratio--16x9-m { padding-bottom: 56.25%; }
  .mb9-m { margin-bottom: 3rem; }
  .mb15-m { margin-bottom: 1.5rem; }
  .ph225-m { padding-right: 2.25rem; padding-left: 2.25rem; }
  .pl075-m { padding-left: 0.75rem; }
  .ph075-m { padding-right: 0.75rem; padding-left: 0.75rem; }
  .pa9-m { padding-top: 3rem; padding-right: 3rem; padding-bottom: 3rem; padding-left: 3rem; }
  .ph9-m { padding-right: 3rem; padding-left: 3rem; }
  .f8-m { font-size: 2rem; }
}
@media screen and (min-width: 60em) {
  .aspect-ratio--1x1-l { padding-bottom: 100%; }
  .aspect-ratio--16x9-l { padding-bottom: 56.25%; }
  .f8-l { font-size: 2rem; }
  .mt8-l { margin-top: 5rem; }
  .mb8-l { margin-bottom: 5rem; }
  .ph075-l { padding-right: 0.75rem; padding-left: 0.75rem; }
  .ph15-l { padding-right: 1.5rem; padding-left: 1.5rem; }
  .pr075-l { padding-right: 0.75rem; }
  .pl075-l { padding-left: 0.75rem; }
  .pv9-l { padding-top: 3rem; padding-bottom: 3rem; }
  .pv8-l { padding-top: 5rem; padding-bottom: 5rem; }
  /* COLUMNS */
  .cc-2-l { -webkit-column-count: 2; column-count: 2; }
  .cg-1-l { -webkit-column-gap: 1.5rem; column-gap: 1.5rem; }
  .cg-2-l { -webkit-column-gap: 3rem; column-gap: 3rem; }
}
