<div class="mw8 center">
  <div class="w-100 mw8 bg-white">
    <div id="menu" class="absolute z-inherit w-100 mw8 ph4 animate-1 cf pv4">
      <div class="fl w-75">
        <%= link_to "Filipao Nunes", "/prototype1", :class => "roboto fw9 f6 ttu tracked-mega link dark-gray" %>
      </div>
      <div class="fr w-25 tr cursor-pointer">
        <%= image_tag "menu-black.png" %>
      </div>
    </div>
    <nav>
      <ul id="nav-links" class="list ma0 ph4 overflow-x-scroll overflow-y-hidden overflow-scrolling nowrap center pv4">
        <% data.site.links.each_with_index do |section, s| %>
          <li class="dib delay<%= s + 1 %> fade-2 animate-2"><%= link_to section.title, "/prototype1/#{ section.path }", :class => "link noto-sans mr4 gray hover-dark-gray" %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</div>
