<nav class="mw8 center tc pa4">
  <%= link_to "Filipao Nunes", "/prototype3", :class => "roboto fw9 f5 ttu tracked-uber link dark-gray" %>
  <ul class="mt3 mb0 pa0">
    <% data.site.prototype3.each do |section| %>
      <li class="dib"><%= link_to section.title, "/prototype3/#{ section.path }", :class => "mh3 roboto fw3 silver hover-dark-gray link" %></li>
    <% end %>
  </ul>
</nav>
