<nav class="fixed top-0 w-100 bg-white pa4">
  <div>
    <%= link_to "Filipao Nunes", "/", :class => "roboto fw9 f6 ttu tracked-mega link dark-gray" %>
  </div>
  <div class="dn">
    <ul class="list ma0 pa0">
      <% data.site.links.each do |section| %>
        <li class="dib"><%= link_to section.title, section.path, :class => "link" %></li>
      <% end %>
    </ul>
  </div>
</nav>
