<div class="fixed top-0 z-max w-100 bg-white pv4">
  <div id="menu" class="ph4 animate-1">
    <div class="dtc v-mid tl w-50">
      <%= link_to "Filipao Nunes", "/", :class => "roboto fw9 f6 ttu tracked-mega link dark-gray" %>
    </div>
    <div class="relative dtc v-mid tr w-55 left-1">
      <%= image_tag "menu.svg" %>
    </div>
  </div>
  <nav>
    <ul id="nav-links" class="list ma0 ph4 overflow-x-scroll overflow-y-hidden overflow-scrolling nowrap center">
      <% data.site.links.each_with_index do |section, s| %>
        <li class="dib delay<%= s + 1 %> fade-2 animate-2"><%= link_to section.title, section.path, :class => "link noto-sans mr3 dark-gray" %></li>
      <% end %>
    </ul>
  </nav>
</div>
