<div class="cf mw8 center mb15 pa4 ph9-m ph0-l">
  <div class="fl w-50">
    <%= image_tag "branding/icon-dark.svg", :alt => "Filipao Nunes icon." %>
  </div>
  <div class="fl w-50">
    <p class="roboto fw4 f6 ttu tracked-mega dark-gray tr">Build and Believe<sup class="ml2 f005">TM</sup></p>
  </div>
</div>
