<div class="mw6 center pv5 ph4 tc">
  <h1 class="ma0 noto-sans fw4 f3 lh-title">Lorem in Studio</h1>
  <p class="ph5-ns noto-sans fw4 f5 lh-copy">We are a creative team that is passionate about dolor sit amet consectetur.</p>
  <%= link_to "View Studio", "/prototype2/studio", :class => "mt4 noto-sans fw4 f5 dim ba ph4 pv3 dib black no-underline" %>
</div>
