<nav class="bg-white fixed top-0 z-max w-100 bb b--dark-gray">
  <div class="mw8 center">
    <%# Mobile Menu %>
    <div class="db dn-ns">
      <ul class="ma0 pa4 list overflow-x-auto overflow-scrolling scrollbar-dn nowrap">
        <%= link_to "Filipao Nunes", "/prototype2", :class => "roboto fw9 f6 ttu tracked-mega dark-gray dim no-underline" %>
        <% data.menu.each do |section| %>
          <% if section.show %>
            <li class="dib"><%= link_to section.name, "/prototype2/#{ purl section.name }", :class => "ml4 roboto fw4 silver no-underline" %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <%# Tablet+ Menu %>
    <div class="dn db-ns cf ma0 pa4 ph9-m ph0-l">
      <div class="fl">
        <%= link_to "Filipao Nunes", "/prototype2", :class => "roboto fw9 f6 ttu tracked-mega dark-gray dim no-underline" %>
      </div>
      <ul class="ma0 list fr tr">
        <% data.menu.each do |section| %>
          <% if section.show %>
            <li class="dib"><%= link_to section.name, "/prototype2/#{ purl section.name }", :class => "ml4 roboto fw4 silver dim no-underline" %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
